<link rel="stylesheet" type="text/css" href="/core/fonts/iconic/css/material-design-iconic-font.min.css">
<link rel="stylesheet" type="text/css" href="/core/css/util.css">
<link rel="stylesheet" type="text/css" href="/core/css/main.css">

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="breadcrumb-hero">
        <div class="container">
            <div class="breadcrumb-hero">
                <h2>Our Rooms</h2>
                <!-- <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas
                    sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p> -->
            </div>
        </div>
    </div>
    <div class="container">
        <ol>
            <li><a href="/hotel/customer">Home</a></li>
            <li>Rooms</li>
        </ol>
    </div>
</section><!-- End Breadcrumbs -->


<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row">

            <div class="col-lg-10 entries">

                <article class="entry">

                    <div class="entry-img">
                        <img src="/core/images/deluxeroom.jpg" alt="" class="img-fluid" width="400" height="15">
                    </div>

                    <h1 class="entry-title">
                        <a href="blog-single.html">Deluxe Double Room</a>
                    </h1>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> 2 </li>
                            <li class="d-flex align-items-center"> | </li>
                            <li class="d-flex align-items-center">Room Only : $ <%= rates.deluxeStandard %> </li>
                            <li class="d-flex align-items-center">Half-Board : $ <%= rates.deluxeHalf %></li>
                            <li class="d-flex align-items-center">Full-Board : $ <%= rates.deluxeFull %></li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            This double room has air conditioning and seating area.with a private balcony
                        </p>
                    </div>


                </article><!-- End blog entry -->

                <article class="entry">

                    <div class="entry-img">
                        <img src="/core/images/superiordeluxe.jpg" alt="" class="img-fluid">
                    </div>

                    <h1 class="entry-title">
                        <a href="blog-single.html">Superior Double Room</a>
                    </h1>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i>2</li>
                            <li class="d-flex align-items-center"> | </li>
                            <li class="d-flex align-items-center">Room Only : $ <%= rates.superiorStandard %></li>
                            <li class="d-flex align-items-center">Half-Board : $ <%= rates.superiorHalf %>
                            </li>
                            <li class="d-flex align-items-center">Full-Board : $ <%= rates.superiorFull %>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            This double room features a seating area, air conditioning and superior sea view at your own
                            private balcony
                        </p>
                    </div>

                </article><!-- End blog entry -->


                <article class="entry">

                    <div class="entry-img">
                        <img src="/core/images/familyroom.jpg" alt="" class="img-fluid">
                    </div>

                    <h1 class="entry-title">
                        <a href="blog-single.html">Deluxe Family Room</a>
                    </h1>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i>3</li>
                            <li class="d-flex align-items-center"> | </li>
                            <li class="d-flex align-items-center">Room Only : $ <%= rates.deluxeFamStandard %></li>
                            <li class="d-flex align-items-center">Half-Board : $ <%= rates.deluxeFamHalf %></li>
                            <li class="d-flex align-items-center">Full-Board : $ <%= rates.deluxeFamFull %></li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            This family room has a spacious seating area, soundproofing, private balcony and an
                            excellent view of the seas
                        </p>
                    </div>

                </article><!-- End blog entry -->



            </div>

        </div>
    </div>
</section>

<script>
    const pageIndicator = document.getElementById('rooms');
    pageIndicator.classList.add('active');
    // pageIndicator.classList.add('bg-gradient-success');
</script>